* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

a{
  text-decoration: none;
}

.Home{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  background: url("../src/Assets/homebg1.gif") center no-repeat ;
  background-size: cover;
}

.Maindiv{
  width: 400px;
  padding: 10px;
  margin: 20px;
  background-color: #FCFCFC;
  border-radius: 10px;   
  color: black;
}


.text {
  text-align: center;
}

.form-div{
  display: flex;
  justify-content: center;
}
.button-div{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.button{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.userprofile{
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: 10px;
}